{%- capture block_class -%}
  site-footer-block-item
    site-footer-block-{{ block.type | replace: '_', '-' }}
  {% if block.type == 'menu' %}has-accordion
  {% endif %}
{%- endcapture -%}

<div class="{{ block_class | strip_newlines }}" {{ block.shopify_attributes }}>

  {% if block.type == 'menu' %}
    <h2 class="site-footer-block-title" data-accordion-trigger>
      {{ linklists[block.settings.menu].title | escape }}

      <span class="site-footer-block-icon accordion--icon">
        {% include 'icon-chevron-down' %}
      </span>
    </h2>

    <div class="site-footer-block-content accordion--content" data-accordion-content>
      {%
          include 'navmenu',
          menu: block.settings.menu,
          depth: 1,
          max_depth: 1,
          aria_expanded: false
        %}
    </div>
  {% elsif block.type == 'rich_text' or block.type == 'newsletter' %}
    {% if block.settings.title != blank %}
      <h2 class="site-footer-block-title">
        {{ block.settings.title | escape }}
      </h2>
    {% endif %}

    {% if block.settings.text != blank %}
      <div class="site-footer-block-content rte">
        {{ block.settings.text }}
      </div>
    {% endif %}

    {% if block.type == 'newsletter' %}
      {% assign form_id = 'footer_newsletter_' | append: block.id %}
      {%
        include 'newsletter',
        form_id: form_id,
      %}
    {% endif %}
  {% elsif block.type == 'social_accounts' %}
    <h2 class="site-footer-block-title">
      {{ 'footer.general.follow_us' | t }}
    </h2>

    <div class="site-footer-block-content">
      {% include 'social-list' %}
    </div>
  {% elsif block.type == 'logo-contact-block' %}
    {% if block.settings.logo != blank %}
      <div class="site-footer-logo-contact-block-title">
        <a href="/" itemprop="url"><img src="{{ block.settings.logo | img_url: 'medium' }}" alt="The Boxfox"/></a>
      </div>
    {% endif %}
    {% if block.settings.location != blank %}
      <div class="site-footer-logo-contact-block-content">
        <span class="icon">{{ block.settings.location-svg }}</span>
        <span class="text">{{ block.settings.location | escape }}</span>
      </div>
    {% endif %}
    {% if block.settings.hours != blank %}
      <div class="site-footer-logo-contact-block-content">
        <span class="icon">{{ block.settings.hours-svg }}</span>
        <span class="text">{{ block.settings.hours | escape }}</span>
      </div>
    {% endif %}
    {% if block.settings.email != blank %}
      <div class="site-footer-logo-contact-block-content">
        <span class="icon">{{ block.settings.email-svg }}</span>
        <span class="text">
          <a href="mailto:{{ block.settings.email | escape }}">{{ block.settings.email | escape }}</a>
        </span>
      </div>
    {% endif %}
    {% if block.settings.phone != blank %}
      <div class="site-footer-logo-contact-block-content">
        <span class="icon">{{ block.settings.phone-svg }}</span>
        <span class="text">{{ block.settings.phone | escape }}</span>
      </div>
    {% endif %}
    {% if block.settings.abn != blank %}
      <div class="site-footer-logo-contact-block-content">
        <span class="icon">{{ block.settings.abn-svg }}</span>
        <span class="text">{{ block.settings.abn | escape }}</span>
      </div>
    {% endif %}
  {% elsif block.type == 'icon-banner-block' %}
    {% if block.settings.payments-icons and shop.enabled_payment_types.size > 0 %}
      <h2 class="site-footer-block-title">
        {{ block.settings.payments-header | escape }}
      </h2>
      {% for type in shop.enabled_payment_types %}
        <span class="payment-icons-item2">
          {{ type | payment_type_svg_tag }}
        </span>
      {% endfor %}
    {% endif %}
    {% if block.settings.delivery-icons %}
      <h2 class="site-footer-block-title">
        {{ block.settings.delivery-header | escape }}
      </h2>
      <img src="{{ block.settings.delivery-image | img_url: 'medium' }}" alt="Delivery"/>
    {% endif %}
    {% if block.settings.social-icons %}
      <h2 class="site-footer-block-title">
        {{ block.settings.social-header | escape }}
      </h2>
      <div class="site-footer-block-content">
        {% include 'social-list' %}
      </div>
    {% endif %}
    {% comment %}
      {% if block.type == 'social_accounts' %}
        <h2 class="site-footer-block-title">
          {{ 'footer.general.follow_us' | t }}
        </h2>
        <div class="site-footer-block-content">
          {% include 'social-list' %}
        </div>
      {% endif %}  
    {% endcomment %}
  {% endif %}
</div>
