  <svg
  aria-hidden="true"
  focusable="false"
  role="presentation"
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="20"
  viewBox="-2.5 -5 75 60"
>
  <g fill="currentColor" fill-rule="evenodd">
    <path d="M0,0 l35,40 l35,-40"/>
  </g>
</svg>