{% comment %}
  Product form

  @param product

  @param selected_variant
{% endcomment %}

{% if is_product_modal and settings.quickshop_show_dcb %}
  {% assign quickshop_smart_buttons = true %}
{% endif %}

{% if is_product_modal == false and section.settings.show_dcb %}
  {% assign product_smart_buttons = true %}
{% endif %}

{% if selected_variant.available == false %}
  {% assign quickshop_smart_buttons = false %}
  {% assign product_smart_buttons = false %}
{% endif %}

{% assign product_form_class = '' %}
{% if product_smart_buttons or quickshop_smart_buttons %}
  {% assign product_form_class = 'smart-payment-enabled' %}
{% endif %}

{% form 'product', product, class: product_form_class, data-product-form: '' %}
  {% if product.has_only_default_variant %}
    <input
      name="id"
      value="{{ product.variants[0].id }}"
      type="hidden">
  {% else %}
    {%
      include 'product-options',
      product: product,
      selected_variant: selected_variant,
      style: settings.product_option_style
    %}
  {% endif %}


{% assign isSample = false %}                 
{% for collection in product.collections %}
  {% if collection.title == 'Samples' %}
      {% assign isSample = true %}
  {% endif %}
{% endfor %}    

  <div class="product-form--atc">
    <div class="product-form--atc-qty form-fields--qty" data-quantity-wrapper>
      <div class="form-field form-field--qty-select visible">
        <div class="form-field-select-wrapper">
          
          
          {% if isSample == true %} 
          <select
                  id="Quantity"
                  class="form-field-input form-field-select"
                  data-quantity-select
                  >
            <option selected value="1">1</option>
          </select>

          {% else %}
          <select
                  id="Quantity"
                  class="form-field-input form-field-select"
                  aria-label="{{ 'general.general.quantity' | t }}"
                  data-quantity-select
                  >
            {% if product.metafields["global"]["Qty-1"] %}
            <option selected value="{{ product.metafields["global"]["Qty-1"] }}">
              {{ product.metafields["global"]["Qty-1"] }}
            </option>            
            {% if product.metafields["global"]["Qty-2"] %}
            <option value="{{ product.metafields["global"]["Qty-2"] }}">
              {{ product.metafields["global"]["Qty-2"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-3"] %}
            <option value="{{ product.metafields["global"]["Qty-3"] }}">
              {{ product.metafields["global"]["Qty-3"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-4"] %}
            <option value="{{ product.metafields["global"]["Qty-4"] }}">
              {{ product.metafields["global"]["Qty-4"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-5"] %}
            <option value="{{ product.metafields["global"]["Qty-5"] }}">
              {{ product.metafields["global"]["Qty-5"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-6"] %}
            <option value="{{ product.metafields["global"]["Qty-6"] }}">
              {{ product.metafields["global"]["Qty-6"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-7"] %}
            <option value="{{ product.metafields["global"]["Qty-7"] }}">
              {{ product.metafields["global"]["Qty-7"] }}
            </option>
            {% endif %}
            {% if product.metafields["global"]["Qty-8"] %}
            <option value="{{ product.metafields["global"]["Qty-8"] }}">
              {{ product.metafields["global"]["Qty-8"] }}
            </option>
            {% endif %}
            {% else %}
            {% for i in (1..9) %}
            <option {% if i == 1 %}selected {% endif %}value="{{ i }}">
              {{ i }}
            </option>
            {% endfor %}              
            {% endif %}
          </select>
          {% endif %}  
          <label class="form-field-title">
            {{ 'general.general.quantity' | t }}
          </label>
          {% include 'icon-chevron-down-small' %}
        </div>
      </div>
<!--  Start: SC Quantity Break -->
{% include "sc-quantity-break" with "sc-qb-product-script" %}
<!--  end: SC Quantity Break -->
      <div class="form-field form-field--qty-input hidden">
        {% if product.metafields["global"]["Qty-1"] %}
          <input
            class="form-field-input form-field-number form-field-filled"
            value={{ product.metafields["global"]["Qty-1"] }}
            name="quantity"
            type="text"
            pattern="\d*"
            aria-label="{{ 'general.general.quantity' | t }}"
            data-quantity-input>
        {% else %}
          <input
            class="form-field-input form-field-number form-field-filled"
            value="1"
            name="quantity"
            type="text"
            pattern="\d*"
            aria-label="{{ 'general.general.quantity' | t }}"
            data-quantity-input>
        {% endif %}
        <label class="form-field-title">{{ 'general.general.quantity' | t }}</label>
      </div>
    </div>

    <button
      class="product-form--atc-button {% unless selected_variant.available %}disabled{% endunless %}"
      type="submit"
      {% unless selected_variant.available %}disabled{% endunless %}
      data-product-atc>
      <span class="atc-button--text">
        {% if selected_variant.available %}
          {{ 'product.buttons.add_to_cart' | t }}
        {% else %}
          {{ 'product.buttons.sold_out' | t }}
        {% endif %}
      </span>
      <span class="atc-button--icon">
        {%- include 'icon-spinner' -%}
      </span>
    </button>
  </div>

  {% if product_smart_buttons or quickshop_smart_buttons %}
    {{ form | payment_button }}
  {% endif %}
{% endform %}
    
{% assign sample_product_handle = product.handle | append: "-sample" %}
{% unless all_products[sample_product_handle] == blank %}
{% assign sample_product_id = all_products[sample_product_handle].id %}
{% assign sample_product_variant_id = all_products[sample_product_handle].variants.first.id %}
<hr/>
<a href="{{ all_products[sample_product_handle].url }}" class="btn btn-default product-form--atc-button" style="border-color:#464553;background-color:#464553;">&nbsp;ORDER SAMPLE</a>          
<hr/>
{% endunless %}  
<div class="ultimate-badges"></div>