<script>
var sc_qb_script_2017210342="";

//You need to make it true for enabling minimum price feature
var sc_qb_show_qb_min_prices_catalog_2017210342=false;

var store_money_format="{{shop.money_format}}";
var sc_qb_settings=JSON.parse({{shop.metafields.QBGroups.QBSettings | json}});
</script>
{% if sc-quantity-break == 'sc-qb-product-script' %}
<script>
sc_qb_script_2017210342="sc-qb-product-script";
</script>
<script type="text/javascript" src="/apps/quantity-break/assets/modules/app-premium-v3/js/main.js" ></script>


{% include "sc-quantity-break-tpls" %}
<script>
  var has_app_js_loaded=false;
  var selected_variant = {{product.selected_or_first_available_variant | json}};  
  var sc_qb_sel_product_groups=null;
                                   
  function SC_QB_On_Variant_Select(variant){
    
	selected_variant=variant;
                                       
	if(has_app_js_loaded){
		process_qb_grid();
	}                                   
  }
  
  function process_qb_grid()
  {
    console.log(has_app_js_loaded);
	has_app_js_loaded=true;
    
    if(selected_variant==null)
      return;

	
    if(sc_qb_sel_product_groups==null){
      sc_gqbreak_app_global.get_groups_by_product_id({{product.id}},function(tmp_product_groups){
        console.log(tmp_product_groups);
        sc_qb_sel_product_groups=tmp_product_groups;
        sc_qb_render_price_tiers(sc_qb_sel_product_groups);
      });
    }
    else{
      sc_qb_render_price_tiers(sc_qb_sel_product_groups);
    }
    
    //Show Quantity Break min prices
    //console.log('selected_variant.id: '+selected_variant.id);
    sc_gqbreak_app_global.show_qb_min_prices(selected_variant.id);
    
    
  }
  
  function sc_qb_render_price_tiers(obj_product_groups){
    if(obj_product_groups==null){
      return;    
    }
    var selected_variant_id=selected_variant.id;
    var sc_qb_prod_var_group=null;
    if(obj_product_groups.product_groups.length > 0){
      if(obj_product_groups.product_groups.length == 1 && obj_product_groups.product_groups[0].variant_id==null){        
        sc_qb_prod_var_group=obj_product_groups.groups[obj_product_groups.product_groups[0].group_id];        
      }
      else{
        var i=0;
        for(i=0;i<obj_product_groups.product_groups.length;i++){
          if(obj_product_groups.product_groups[i].variant_id==selected_variant_id){
            sc_qb_prod_var_group=obj_product_groups.groups[obj_product_groups.product_groups[i].group_id];
          }
        }
      }      

    }
    ScJQuery_Qbreak('#div-sc-qb-2017210342').html('');
    if(sc_qb_prod_var_group==null)
    {      
      return;
    }
         
    var qb_data={calc_type:sc_qb_prod_var_group.calc_type,
                 price_tiers:sc_qb_prod_var_group.price_tiers,
                 base_price:parseFloat(selected_variant.price/100)
                };
    var qb_price_tiers=calculate_qb_prices_discounts(qb_data);
    console.log(qb_price_tiers);
    if(sc_qb_prod_var_group.tpl_display!='custom')
    {
        var tpl_style = __sc__.template(ScJQuery_Qbreak('#tpl_sc_qb_tbl_style_2017210342').html());
        ScJQuery_Qbreak('#div-sc-qb-2017210342').append(tpl_style({sc_qb_settings:sc_qb_settings}));
    	var tpl = __sc__.template(ScJQuery_Qbreak('#tpl_'+sc_qb_prod_var_group.tpl_display+'_2017210342').html());
    	ScJQuery_Qbreak('#div-sc-qb-2017210342').append(tpl({qb_price_tiers:qb_price_tiers,sc_qb_settings:sc_qb_settings,money_format:"{{shop.money_format}}"}));
    }
    else
    {
      	ScJQuery_Qbreak('#div-sc-qb-2017210342').html(sc_qb_prod_var_group.tpl_custom_display);
    }
  
  }
</script>
<div id="div-sc-qb-2017210342">
</div>



{%endif%}

{% if sc-quantity-break == 'sc-qb-cart-item-script' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-item-script";
</script>
{%endif%}

{% if sc-quantity-break == 'sc-qb-cart-script' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-script";
</script>
<link href="/apps/quantity-break/assets/modules/app-premium-v3/js/toastr/toastr.min.css" rel="stylesheet">
<script type="text/javascript" src="/apps/quantity-break/assets/modules/app-premium-v3/js/main.js" ></script>
<style type="text/css">
  #toast-container > .toast-info
  {
    background-image: none !important;
  }
  #toast-container > div{
    opacity:1;
  }
  #toast-container > .toast-info > .toast-message
  {
    text-align:center;
  }
  
</style>


{%endif%}

{% if sc-quantity-break == 'sc-qb-other-pages-script' %}
<script>
sc_qb_script_2017210342="sc-qb-other-pages-script";
</script>
	{% if template.name != 'product' and template.name != 'cart' %}
	<script type="text/javascript" src="/apps/quantity-break/assets/modules/app-premium-v3/js/main.js" ></script>
	{% include "sc-quantity-break-tpls" %}
  	{% endif %}
{%endif%}

<script type="text/template" id="tpl_sc_qb_custom_style_2017210342">
<style type="text/css">
<%= sc_qb_settings.custom_css %>
</style>
</script>
<script>
{% if customer %}
  var sc_qb_logged_in_customer = {
    'id':{{customer.id|json}},
    'order_counts': {{customer.orders_count}},
    'address':{{customer.address |json}},
    'default_address' : {{customer.default_address|json}}
  };
{% else %}
	var sc_qb_logged_in_customer = null;
{% endif %}
</script>

{% if sc-quantity-break == 'sc-qb-discount-input' %}
<script>
sc_qb_script_2017210342="sc-qb-cart-script";
</script>
<style type="text/css">
.sc-qb-discount-container-2017210342 p{
  margin-bottom:2px;
}
.sc-qb-discount-container-2017210342 .msg{
  color:red;  
}
</style>
	<div class="sc-qb-discount-container-2017210342" style="display:none;">
		<p>Discount code</p>
		<p><input class="sc-qb-discount-2017210342" type="text" value="" name="discount"></p>
      <p class="msg"></p>
	</div>
{% endif %}

<style type="text/css">
  .sc-qb-price-cross-2017210342{
    text-decoration: line-through;
	opacity: 0.6;
    margin-right: 5px;
  }
</style>
