{% comment %}
  @param id {String}
    Name of the social icon to use
{% endcomment %}

{%- capture social_icon -%}
  {%- if id == 'email' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/email-icon.png?14377524549641014915" />
  {%- endif -%}

  {%- if id == 'facebook' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/fb-icon.png?4179425724245421671" />
  {%- endif -%}

  {%- if id == 'google' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/fb-icon.png?4179425724245421671" />
  {%- endif -%}

  {%- if id == 'instagram' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/insta-icon.png?9620634794476615667" />
  {%- endif -%}

  {%- if id == 'pinterest' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/pininterest-icon.png?3747478784091637857" />
  {%- endif -%}

  {%- if id == 'rss' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="#6B6C6D" fill-rule="evenodd" d="M10.476 16.046c-.819 0-1.468.673-1.468 1.48 0 .82.649 1.481 1.468 1.481.82 0 1.48-.649 1.48-1.48-.011-.808-.672-1.48-1.48-1.48zm-1.382-4.258v1.934a5.234 5.234 0 0 1 3.647 1.541 5.284 5.284 0 0 1 1.541 3.659h1.946c-.062-3.916-3.218-7.097-7.134-7.134zm.012-3.793V9.93c4.907.048 8.907 4.062 8.969 8.993h1.933C19.96 12.926 15.09 8.044 9.106 7.995z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'tumblr' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M15.863 21.98h-.095c-3.391 0-4.38-2.56-4.38-4.077v-4.74H9.503L9.5 10.806c0-.047.05-.061.098-.061 1.742-.664 2.873-1.517 3.156-3.603C12.707 7 12.8 7 12.8 7h2.355v3.318h2.832v2.845h-2.832v4.306c0 .995.377 1.524 1.319 1.524.377 0 .8-.094 1.225-.237.047 0 .094 0 .094.048l.707 2.086v.19c-.519.52-1.602.9-2.638.9z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'twitter' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/twitter-icon.png?7967276567485931388" />
  {%- endif -%}

  {%- if id == 'twitter-alt' -%}
    <img src="https://cdn.shopify.com/s/files/1/0019/6729/2528/t/2/assets/twitter-icon.png?7967276567485931388" />
  {%- endif -%}

  {%- if id == 'vimeo' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M7 11.452l2.168-1.93c.977-.845 1.71-1.29 2.198-1.333.067-.005.135-.008.203-.008.483 0 .882.174 1.196.522.358.397.604 1.016.74 1.857.295 1.847.493 2.98.594 3.4.334 1.514.701 2.27 1.103 2.27.31 0 .776-.49 1.4-1.471.623-.982.956-1.729 1-2.241.01-.087.014-.172.014-.254 0-.682-.338-1.022-1.015-1.022-.343 0-.708.082-1.095.246C16.216 9.163 17.556 8 19.524 8h.16c1.445.044 2.167.933 2.167 2.669 0 .096-.002.198-.007.304-.063 1.436-1.073 3.416-3.031 5.94-2.016 2.624-3.723 3.937-5.12 3.937-.87 0-1.602-.8-2.197-2.4l-1.204-4.395c-.445-1.6-.92-2.4-1.428-2.4-.107 0-.496.234-1.168.703L7 11.452z"/>
    </svg>
  {%- endif -%}

  {%- if id == 'youtube' -%}
    <svg
      aria-hidden="true"
      focusable="false"
      role="presentation"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
    >
      <path fill="currentColor" fill-rule="evenodd" d="M11.958 16.23v-4.22l4.058 2.117-4.058 2.102zm8.91-4.951s-.147-1.035-.597-1.491c-.571-.598-1.211-.601-1.505-.636C16.664 9 13.512 9 13.512 9h-.006s-3.153 0-5.254.152c-.294.035-.934.038-1.505.636-.45.456-.597 1.49-.597 1.49S6 12.495 6 13.71v1.14c0 1.215.15 2.43.15 2.43s.147 1.035.597 1.49c.571.599 1.322.58 1.656.643 1.201.115 5.106.15 5.106.15s3.155-.004 5.257-.156c.294-.035.934-.038 1.505-.636.45-.456.597-1.49.597-1.49s.15-1.216.15-2.431v-1.14c0-1.215-.15-2.43-.15-2.43z"/>
    </svg>
  {%- endif -%}
{%- endcapture -%}

{{ social_icon | strip_newlines }}
