{% unless settings.starshipit_calculator == false %}
<div class="shippingcontainer">
  <input placeholder="AU post code" name="postCode" id="postCode" size="25" class="estimateShippingPostCode" style="text-align: center;" />&nbsp;&nbsp;
  <input type="submit"  id="estimateShippingId" name="estimateShippingName" value="Estimate Shipping"  onclick="getShippingEstimates(); return false; " class="estimateShippingId" size="50" />
  <br/><p id="shippingestimates">Weight/unit: {{ product.variants.first.weight | weight_with_unit}}</p>          
</div>
<style>
  input.estimateShippingPostCode {
    min-height: 48px;
    width: 10em;
    background:#fff; 
    border: solid 1px #000;
    -webkit-border-radius: 3px;
    border-radius: 3px; 
  }

  input:focus.estimateShippingPostCode {
    border: solid 1px #000;
    outline: 0;
  }     

  input[type=submit].estimateShippingId {
    min-height: 48px;
    width: 15em;
    padding-top: 12px;
    padding-bottom: 12px; 
    font-size: 1.125rem;
    margin-left: 0.75rem;    
    color: #000;
    font-weight:bold;
    background-color: #f64528;
    border: 1px solid #f64528;  

  }

  input[type=submit]:focus.estimateShippingId {
    border: 1px solid #f64528;  
    outline: 0;
  }   


  #postCode {
    background-color: #fff;
  }


  .shippingcontainer {
    font-size:14px;
    width:95%;
    border-radius: 4px; border: solid 1px #464553;
    background-color: #464553;
    padding: 10px;
    text-align: center;
    color: #fff;

  }  

  .shippingresults table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
  }

  .shippingresults table, th, td {
    border: 1px solid black;
    background-color: #fff;     
    padding: 20px;
    text-align: center;
    color: #464553;
  }

  .shippingresults th {
    font-weight:bold;
  }
</style>

<script>
  function getShippingEstimates() {	
    document.getElementById("estimateShippingId").value="Calculating...";
    var formatter = new Intl.NumberFormat('en-US', {
      style: 'currency',
      currency: 'AUD',
    });
    const post_code = document.getElementById("postCode").value;
    const quantity = document.getElementById("Quantity").value;
    const weight = {{ product.variants.first.weight}};
    const totalWeight = ((weight/1000) * quantity).toFixed(1);
    document.getElementById("shippingestimates").innerHTML="Calculating shipping for total weight: " + totalWeight + "kg";
    $.ajax({
      url: `https://theoddwave.co.nz/oddwaveforms/api/rates?street=NA&country_code=AU&post_code=${post_code}&country_code=AU&weight=${totalWeight}`,
      type: "GET",
    })
    .done(function( response ) {
      var resultsTable = "";
      if (response.data.rates && Array.isArray(response.data.rates) && response.data.rates.length) {
        resultsTable = "<div class='shippingresults'><table><tr><th>Service</th><th>Weight (kg)</th><th>Rate</th></tr>";
        for (var i = 0; i < response.data.rates.length; i++) {
          resultsTable+="<tr>";
          resultsTable+="<td>"+response.data.rates[i].service_name+"</td>";
          resultsTable+="<td>"+totalWeight+"</td>";
          resultsTable+="<td>"+formatter.format(response.data.rates[i].total_price)+"</td>";

          resultsTable+="</tr>";
        }
        resultsTable+="</table></div>";
      } else {
        resultsTable="Unable to get shipping rates";
      }
      document.getElementById("shippingestimates").innerHTML=resultsTable;
      document.getElementById("estimateShippingId").value="Estimate shipping";
    })
    .fail(function( error) {
      document.getElementById("shippingestimates").innerHTML='Unable to get shipping rates';
      document.getElementById("estimateShippingId").value="Estimate shipping";
    });
  }
</script>
{% endunless %}