<script type="application/json" data-section-id="{{ section.id }}" data-section-type="static-footer"></script>

<section class="site-footer-wrapper">
  {% if section.blocks.size %}
    <div class="site-footer-item">
      <div class="site-footer-blocks column-count-{{ section.blocks.size }}">
        {% for block in section.blocks %}
          {% include 'footer-block' %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="site-footer-item">
    {% if section.settings.payment_icons and shop.enabled_payment_types.size > 0 %}
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li class="payment-icons-item">
            {{ type | payment_type_svg_tag }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  <div class="site-footer-item-last">
    <div class="site-footer-information">
      <p class="site-footer-credits">
        {% assign year = 'now' | date: '%Y' %}
        {{ 'footer.general.copyright_html' | t: year: year, shop_name: shop.name }}
      </p>
      <div class="site-footer-left">
        {% if linklists[section.settings.additional_menu].links != blank %}
          <nav class="site-footer-navigation" aria-label="{{ 'general.accessibility.nav_footer' | t }}">
            {%
              include 'navmenu',
              menu: section.settings.additional_menu,
              depth: 1,
              max_depth: 1
            %}
          </nav>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type":     "header",
      "content":  "Payment icons"
    },
    {
      "type":     "checkbox",
      "id":       "payment_icons",
      "label":    "Show payment icons",
      "default":  false
    },
    {
      "type":     "header",
      "content":  "Additional menu"
    },
    {
      "type":     "link_list",
      "id":       "additional_menu",
      "label":    "Menu",
      "default":  "footer",
      "info":     "This menu won't show dropdown items."
    }
  ],
  "blocks": [
    {
      "type":     "icon-banner-block",
      "name":     "Icon Banner Block",
      "limit":    2,
      "settings": [
        {
        "type":     "checkbox",
        "id":       "payments-icons",
        "label":    "Show payments banner",
        "default":  true,
        "info":     "Icons come from dynamic checkout and payment settings"
        },
        {
        "id": 		  "payments-header",
        "label": 	  "Payments header",
        "type": 	  "text",
        "default": 	"SHOP ONLINE SAFELY"
        },
        {
        "type":      "checkbox",
        "id":        "delivery-icons",
        "label":     "Show delivery banner",
        "default":   true
        },
        {
        "id": 		  "delivery-header",
        "label": 	  "Delivery header",
        "type": 	  "text",
        "default": 	"WE DELIVER WITH"
        },       
		    {
      	"type":     "image_picker",
      	"id":       "delivery-image",
      	"label":    "Delivery banner"
        },
        {
        "type":     "checkbox",
        "id":       "social-icons",
        "label":    "Show social banner",
        "default":  true,
        "info":     "Icons defined in general settings"
        },
        {
        "id": 		  "social-header",
        "label": 	  "Social header",
        "type": 	  "text",
        "default": 	"FOLLOW US"
        }
      ]
    },
    {
      "type": "logo-contact-block",
      "name": "Logo Contact Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image"
        },
        {
          "id": "location-svg",
          "label": "Location SVG icon",
          "type": "textarea"
        },
        {
          "id": "location",
          "label": "Location",
          "type": "text"
        },
        {
          "id": "hours-svg",
          "label": "Hours SVG icon",
          "type": "textarea"
        },
        {
          "id": "hours",
          "label": "Office hours",
          "type": "text"
        },
        {
          "id": "email-svg",
          "label": "Email SVG icon",
          "type": "textarea"
        },
        {
          "id": "email",
          "label": "Email",
          "type": "text"
        },
        {
          "id": "phone-svg",
          "label": "Phone SVG icon",
          "type": "textarea"
        },
        {
          "id": "phone",
          "label": "Phone",
          "type": "text"
        },
        {
          "id": "abn-svg",
          "label": "Abn SVG icon",
          "type": "textarea"
        },
        {
          "id": "abn",
          "label": "Business number",
          "type": "text"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "rich_text",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
              }
            ]
          },
          {
            "type": "social_accounts",
            "name": "Social accounts",
            "limit": 1,
            "settings": [
             {
               "type": "paragraph",
               "content": "Social links can be managed in your General settings."
             }
            ]
          },
          {
            "type": "newsletter",
            "name": "Newsletter",
            "limit": 1,
            "settings": [
              {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Subscribe"
              },
              {
                "type": "richtext",
                "id": "text",
                "label": "Text",
                "default": "<p>Invite customers to join your mailing list.</p>"
              }
            ]
          }
        ],
        "default": {
          "settings": {
            "additional_menu": "footer"
          },
          "blocks": [
            {
              "type": "menu",
              "settings": {}
            },
            {
              "type": "newsletter",
              "settings": {}
            }
          ]
        }
      }

{% endschema %}